{% extends 'Restaurant/restaurant.html.twig' %}

{% block title %}About Us{% endblock %}

{% block contenido %}
    <div class="container">
        <h1>About Us</h1>

        {% for text in texts %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title text-dark">{{ text.title }}</h2>
                    {% for paragraph in text.content %}
                        <p class="card-text text-dark">{{ paragraph }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}