{% extends 'Restaurant/restaurant.html.twig' %}

{% block contenido %}
    <div class="home-page d-flex justify-content-center align-items-center">
        <div class="image-container">
            <img src="https://1.bp.blogspot.com/-PhVj2n7UEI4/WVAL8CR5v4I/AAAAAAAEm1U/5PnUzULbk6g2TQF1Lmjk8zTkI6dpQ29XQCLcBGAs/s1600/IMG_8351.jpg" alt="Imagen" class="img-fluid">
        </div>
    </div>
{% endblock %}